## Trình soạn thảo (Visual Studio / VS Code)
.vs/
.vscode/
*.user
*.suo
*.userosscache

## Thư mục Build của .NET (Rất quan trọng)
[Bb]in/
[Oo]bj/

## File tạm của hệ thống và IDE
.DS_Store
Thumbs.db
*.tmp
*.log

## Thư mục và file của Node.js
node_modules/
.angular/
.tsbuildinfo